.header {
    text-align: center;
    padding: 8px 32px 8px 16px;
    background: #222;
    color: #fff;
    text-transform: uppercase;
    height: 36px;
}
.logo {
    position: absolute; 
    left: 10px;
    background-color: #ff7f7f;
    height: 35px;
    animation: _logo_rotation 8s infinite linear;

}

@keyframes _logo_rotation {
    50% {transform: rotateY(50deg);}
}
  

.login-logout {
    position: absolute; 
    right: 10px;
}
.book-show {
    position: absolute; 
    right: 90px;
}